[submodule "themes/academic"]
	path = themes/academic
	url = https://github.com/gcushen/hugo-academic.git
[submodule "rokib-rajon.github.io"]
	path = rokib-rajon.github.io
	url = https://github.com/rokib-rajon/rokib-rajon.github.io
	branch = master
[submodule "public"]
	path = public
	url = https://github.com/rokib-rajon/rokib-rajon.github.io.git
	branch = master
